@mixin gradient(){
  background: rgba(0,0,0,1);
  background: -moz-linear-gradient(10deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 28%, rgba(0,0,0,1) 28%, rgba(0,0,0,0.56) 60%, rgba(0,0,0,0.26) 81%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(28%, rgba(0,0,0,1)), color-stop(28%, rgba(0,0,0,1)), color-stop(60%, rgba(0,0,0,0.56)), color-stop(81%, rgba(0,0,0,0.26)), color-stop(100%, rgba(255,255,255,0)));
  background: -webkit-linear-gradient(10deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 28%, rgba(0,0,0,1) 28%, rgba(0,0,0,0.56) 60%, rgba(0,0,0,0.26) 81%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(10deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 28%, rgba(0,0,0,1) 28%, rgba(0,0,0,0.56) 60%, rgba(0,0,0,0.26) 81%, rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(10deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 28%, rgba(0,0,0,1) 28%, rgba(0,0,0,0.56) 60%, rgba(0,0,0,0.26) 81%, rgba(255,255,255,0) 100%);
  background: linear-gradient(10deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 28%, rgba(0,0,0,1) 28%, rgba(0,0,0,0.56) 60%, rgba(0,0,0,0.26) 81%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=1 );
}
.galerie-thumbnail{
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 35vw;
  margin-top: 35px;
  .title-shadow{
    position: absolute;
    height: 35vw;
    display: flex;
    justify-content: start;
    align-items: end;
    padding: 20px;
    background-color: rgba(0,0,0,1);
    @include gradient;
    h2{
      color: white;
    }
  }
}
.row .galerie-image-thumbnail{
  padding: 0.75rem;
  img{
    width: 100%;
  }
}
