@import "galerie";

* {
  box-sizing: border-box;
}

a, a:visited {
  color: white;
}

.dl-card-icon {
  display: inline-block;
  padding-left: 0;
  padding-right: 24px;
  border-right: 1px solid white;

  .material-icons {
    color: white;
  }
}

.dl-card {
  display: flex;

  h2.white-text {
    margin: 0;
    display: inline-block;
    font-size: 30px;
    padding-left: 24px;
    vertical-align: top;
  }
}

.wysiyg {
  strong {
    font-weight: bold;
  }

  ul, ul > li {
    list-style-type: disc;
  }
}

tr.border-top {
  border-top: 2px solid #ccc;
}

.brand-logo {
  height: 64px;
}

nav {
  a:hover{
    color: #acacac;
  }
  height: 100px;

  .brand-logo {
    height: 100px;

    img {
      margin-top: 5%;
      height: 90%;
    }
  }

  .menu-menu-1-container > ul {
    margin-top: 36px;
  }

  .sidenav-trigger {
    margin: 18px 0;
    padding: 0 36px;

  }
}

.home-banner {
  display: flex;
  height: calc(100vh - 100px);
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-position: center;
  background-size: cover;

  h1 {
    position: absolute;
    color: white;
    text-align: center;
    font-weight: bold;

    margin: 0;

    padding: 40px;

    background-color: rgba(0, 0, 0, .5);
  }
}

